.gcloudignore
.git
.gitignore

/coverage/
node_modules/
/public/
/src/
/.scannerwork/
*~

.eslintcache
.eslintignore
.eslintrc
.nvmrc
.prettierrc
.stylelintrc

/pull_request_template.md
/sonar-project.properties
